<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Subject test app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Get Data -->
  <div *ngIf="infoData && infoData.length > 0">
    <h6>{{ infoData[0].firstName}} {{infoData[0].lastName}}</h6>
    <img class="imgSize" src="{{infoData[0].path + infoData[0].imgName1 +infoData[0].imgExt}}">
  </div>

  <!-- Insert Data -->
  <form [formGroup]="memoryForm" (ngSubmit)="saveMemory()">
    <ion-list>
      <ion-item>
        <label> First Name </label>
        <input formControlName="firstName" type="text">
      </ion-item>
      <ion-item>
        <label> Last Name </label>
        <input formControlName="lastName" type="text">
      </ion-item>
    </ion-list>
  </form>
  <ion-button expand="full" type="submit"  (click)="saveMemory()" [disabled]="!memoryForm.valid">Save <ion-icon name="save" slot="start"></ion-icon></ion-button>
</ion-content>